 
  /* Стили для самой формы */
  .mt-5 {
    background-color: rgb(249, 239, 199); /* Белый фон формы */
    padding: 40px; /* Отступы внутри формы */
    border-radius: 0 0 10px 10px; /* Скругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для объема */
    max-width: 1072px; /* Максимальная ширина формы */
    width: 100%; /* Занимает 100% ширины в своем контейнере */
  }